<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
		<title>[title]</title>
		<!--
			Esta sería la fomrma básica de incluir un JS [JavaScript]:
			La etiqueta [project] sólo tiene relevancia solamente en este proyecto

			<link rel="stylesheet" type="text/css" href="[project]/assets/css/ejemplo.css">
		--><link rel="stylesheet" type="text/css" href="[project]/assets/css/bootstrap/bootstrap.css">
        <link rel="icon" type="image/x-icon" href="[project]/favicon.ico" />
	</head>
	<body>
		[header]
		[body]
		[footer]
		<!--
			Esta sería la fomrma básica de incluir un CSS [Cascade Style Sheets]:
			La etiqueta [project] sólo tiene relevancia solamente en este proyecto

			<script type="text/javascript" src="[project]/assets/js/ejemplo.js"></script>

		-->
		<script type="text/javascript" src="[project]/assets/js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="[project]/assets/js/popper-1.14.3.min.js"></script>
		<script type="text/javascript" src="[project]/assets/js/bootstrap/bootstrap.js"></script>
	</body>
</html>
